table
{
	border-collapse:collapse;
	color: gray;
	height: 25px;
	color: #000000;
	background-color: #F3F3E9;
	text-align: center;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller;
	font-weight: bold;
	
}
table tr td, div
{
	background-color:#F3F3E9;
	border: #E6E6CC solid 2px;
		
}
